.container{
  position:relative;
  border:3px solid lightblue;
  text-align:center;
}
body{
  background-color:lightblue;
  

    font-family: 'Open Sans', sans-serif;


}
#navbar-example {
  width:100%;
}
ul li{
  width:25%;
  text-align:center;
  text-decoration:none
}
a{
  text-decoration:none;
}
a:hover{
  background-color:lightblue;
}
#contact a{
  padding:0;
  margin:10;
  display:block;
}
